<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>
<body>
    <header>
        <h1>Mandakini Jena</h1>
            <p>Student | C Program learner | Web development | Java learner | Python Learner</p>
        <hr>
        <h2>About Me</h2>
            <img src="Photo.jpg" alt="Student image" height="100px" width="100px">
            <p>I am a passionate learner interested in Web Development . 
                I Enjoy learning new techonologies and improving my skills .</p>
        <hr>
    </header>
    <section>
        <h2>Education</h2>
            <ul><b><li>Master Degree</li></b>
                    <p>Studied at BPUT in MCA Dept.</p>
                <b><li>Graduation</li></b>
                    <p>Studied at Remuna Degree College,Remuna,Balasore in Math Honors</p>
                <b><li>12th</li></b>
                    <p>Studied at Gopalpur Higher Secondary School in Science</p>
                <b><li>10th</li></b>
                    <p>Studied at gilida High School,Gilida</p>    
            </ul>
        <hr>
    </section>
    <section>    
        <h2>Skills</h2>
            <ul>
                <li>C Language</li>
                <li>JAVA Language</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVA SCRIPT</li>
            </ul>
        <hr>
    </section>
    <section>
        <h2>Hobbies</h2>
            <ul>
                <li>Coding</li>
                <li>Crfting</li>
                <li>Designing</li>
                <li>Playing Chess</li>
            </ul>
        <hr>
    </section>
    <footer>
        <h2>Contact</h2>
            <p>Email : mandakinij793@gmail.com</p>
            <p>Phone no.:7735660700</p>
            <p><a href="https://www.linkedin.com/in/mandakini-jena">LinkedIn</a></p>
            <p><a href="github.com/mandakinijena"> GitHub </a></p>
        <hr>
    </footer>
<u>Thank You&hearts; </u>
</body>
</html>